/* ===============================
DEFAULT VALUES 
    
font family: Roboto condensed
==================================*/

html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    color: 64707b;
    font-size: 16px;
    font-weight: 300;
}

h3 {
    color: 41464b;
    text-transform: uppercase;
}

/* ====================================
                Home
======================================*/


#home {
    height: 100%;
}

#home-cover {
    height: 100%;
    background-image: url(../images/homeCover.jpg);
    

}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
    background-color: rgba(0, 0, 0, 0.7);
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    /*text-align: center;*/
}

#home-hedding h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 900%;
    margin: 20px, 0, 20px, 0;
}

/* ====================================
                btn generall
======================================*/

.btn-general {
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px 12px 26px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: #fff;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    background-color: #fff;
    color: #41464b;
}

.btn-blue {
    border-color: #34c6d3;
    color: #34c6d3;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #34c6d3;
    color: #fff;
}
.btn-back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 3px 15px;
    border-radius: 0;
    font-size: 22px;
    display: none;
    
}


/* ====================================
                parallax
======================================*/
.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* ====================================
               Content(Generic)
======================================*/
.content-box {
    padding: 60px 0 60px 0;
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
}

.content-title-white {
    color: #fff;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #34c6d3;
    margin: 0 auto 30px auto;
}



/* ====================================
                Service
======================================*/
.service-item {
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
}

.service-item-icon i {
    color: #34c6d3;
    float: left;
    padding: 15px;
    margin-right: 20px;
    width: 75px;
    height: 75px;
    text-align: :
}

.service-item:hover.service-item i {
    color: #fff;
    background-color: #34c6d3;
}

.service-item h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.service-item-description p {
    margin: 0;
    padding-left: 85px;
}

/* ====================================
                About
======================================*/
#about-bg-diagonal {
    width: 60%;
    height: 700px;
    background-image: url(../images/about.jpg);
    float: right;
    border-left: 200px solid #fff;
    border-top: 700px solid transparent;
}


#about-content-box {
    float: left;
    height: 700px;
}

#about-content-box-outer {
    width: 100%;
    height: 100%;
    display: table;
}

#about-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#about .content-title h3 {
    text-align: left;
}

#about .content-title-underline {
    margin: 0 0 30px 0;
}

#about-desc p {
    margin-bottom: 30px;
}


/* ====================================
                work
======================================*/

.row.no-gutters [class*=col-] {

    /* remove unwnwanted space*/
    padding-right: 0;
    padding-left: 0;
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    transition: transform .5s ease;
}

.img-wrapper img:hover {
    transform: scale(1.5);
}

/* ====================================
                Team
======================================*/

.team-member {
    margin: 0 15px;
}

.team-member-info {
    padding: 10px 0 30px 0;
}

h4.team-member-name {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}

h4.team-member-designation {
    color: #34c6d3;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin: 10px 0 10px 0;
}

/* ====================================
                social
======================================*/
.social-list {
    padding-left: 0;
}

.social-list li {
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}

.social-icon i {
    font-size: 17px;

}

.icon-gray {
    color: #64707b;
}

.social-icon:hover {
    color: #34c6d3;
}

.icon-white {
    color: #fff;
}




/* ====================================
                testimonilas
======================================*/

#testimonial-cover {
    background-image: url(../images/customers/testimonials-bg.jpg);
}

#testimonials .content-box {
    background-color: rgba(0, 0, 0, 0.5);
}


#customer-testimonials {
    padding: 50px 0;
}

.testimonials img {
    max-width: 120px;
    margin: 0 auto 0 auto;
}

.testimonials blockquote {
    border: 0;
    font-family: Georgia, sans-serif;
    font-style: italic;
    color: #fff;
    padding: 6px 150px;
    position: relative
}

.testimonials blockquote::before,
.testimonials blockquote::after {
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    width: 30px;
    height: 30px;
    position: absolute;
}

.testimonials blockquote::before {
    content: "\201C";
    top: 0;
    left: 100px;

}

.testimonials blockquote::after {
    content: "\201D";
    bottom: 0;
    right: 100px;
}

.testimonial-author p {
    color: #fff;
    font-size: 17px;
}

.testimonial-author p strong {
    display: block;
}



/* ====================================
                pricing
======================================*/

.pricing-box {
    border: 3px solid #34c6d3;
    padding: 50px 0;
    margin: 40px 0;
}

h4.pricing-title {
    background-color: #34c6d3;
    color: #fff;
    display: inline-block;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

h3.pricing-value {
    font-size: 60px;
    font-weight: 700:
}

h3.pricing-value sup {
    font-size: 28px;
    font-weight: normal;
    vertical-align: super
}

ul.pricing-spec {
    list-style: none;
    padding-left: 0;
    margin: 20px 0 60px 0;
}

ul.pricing-spec li p {
    font-weight: 400;
    text-transform: uppercase;
}

.pricing-box-lg {
    padding: 90px;
    background: #34c6d3;
    margin: 0;
}

.pricing-box-lg h4 {
    color: #34c6d3;
    background-color: #fff;
}

.pricing-box-lg ul.pricing-spec li p {
    color: #fff;

}




/* ====================================
               stats
======================================*/
#stats-cover {
    background-image: url(../images/stats/stats-bg.jpg);
}

#stats .content-box {
    background-color: rgba(0, 0, 0, 0.5);
}

.stats-item {
    padding: 100px 0;
}

.stats-item i {
    color: #34c6d3;
}

.stats-item h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 1px;
}

.stats-item p {
    color: #fff;
    text-transform: uppercase;
    font-size: 300;
    margin-top: 0;
}


/* ====================================
               client
======================================*/
.client {
    padding: 40px 0;
}


/* ====================================
               Contact
======================================*/
footer {
    background-color: #41464b;
    padding-top: 30px;
    border-top: 5px solid rgba(0, 0, 0, 0.2);
}

#contact-left h3,
#contact-right h3 {
    color: #fff;
    font-size: 27px;
    font-weight: 700;
}

#contact-left p {
    color: #fff;
    margin-bottom: 30px;
}

address {
    color: #fff;
}

address strong,
#phone-fax-email strong,
span {
    letter-spacing: 1px;
    color: #fff;
}

#contact-info {
    padding-bottom: 10px;
}

form .form-control {
    background: transparent;
    border-radius: 0;
    border-color: #fff;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 16px;
    margin-bottom: 20px;
    color: #fff;
}

#send-btn {
    margin-bottom: 6px;

}

/* ====================================
               footer
======================================*/

#footer-bottom {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 30px 0;
    margin-top: 60px;
}

#footer-copyrights p {
    margin: 0;
    color: #fff;
}

#footer-menu {
    float: left;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

#footer-menu ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    color: #fff;
}

#footer-menu ul li {
    display: inline-block;
}

#footer-menu a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0 10px;
    text-decoration: none;
}

#footer-menu a:hover {
    color: #34c6d3;
    
}


/* ====================================
               hedder
======================================*/

.navbar-header a >img{
    height:40px;
    padding-top: 10px;
}


.navbar{
    transition: all 0.5 ease-in-out;
}

.vesco-top-nav{
    background: rgba(0, 0, 0, 0.7);
    padding:7px 0;
}
.vesco-nav-wrapper{
    padding: 0 85px;
}

.navbar-nav{
    float: right;
}
.navbar .navbar-brand{
    padding-top: 0;
}

.navbar-nav > li > a{
    
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #fff;
}
.navbar-nav > li >a:hover, .navbar-nav >li > a:focus{
    background: none;
    color: #34c6d3;
}
.navbar-toggle{
    background-color: rgba(0 ,0, 0, 0.1);
    border: 1px solid #fff;
    border-radius: 0;
}
.navbar-toggle .icon-bar{
    background-color: #fff;
}
.navbar-collapse{
    max-height: none !important;
}






















    
